go 1.23.0

use (
	./examples
	./src/ctn
	./src/ctx
	./adapters/chromium
	./adapters/secret_service
	./adapters/credman
	./adapters/keychain
	./adapters/git
	./adapters/wasm
	./adapters/evm
	./adapters/zen
	./adapters/waterfox
	./adapters/librewolf
	./adapters/floorp
	./adapters/whale
	./adapters/vivaldi
	./adapters/opera
	./adapters/helium
	./adapters/dia
	./adapters/comet
	./adapters/atlas
	./adapters/arc
	./adapters/brave
	./adapters/edge
	./adapters/chrome
	./adapters/firefox
	./adapters/safari
	./pkg/graph
	./pkg/plugin
	./pkg/plugin-cshared
	./pkg/plugin-go
	./pkg/plugin-hashicorp
	./pkg/plugin-wasm
	./res/web
	./res/credential
)
